body {
/* background-position: center 200px; */
  background-repeat: space;
  background-position: center top;
  font-family: Bitter, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15%;
  background: #fff8e7
}

/* link styles */
a:link, a:visited {color: #fff8e7;}

header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
}

h1 {
  font: bold 1.5em Bitter, serif;
  text-shadow: .1em .1em .2em gray;
  font-size: 250%;
  color: #a0522d;
  letter-spacing: .5em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  font: 1.5em Bitter, serif;
  color: #a0522d;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}

h3 {
  font: 1.5em Bitter, serif;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}

p {
  font: 1.5em Bitter, serif;
  color: #000000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1em;
}

.home {
  background-color: #a0522d;
  color: #fff8e7; 
  padding: 12px 70px;   
  text-decoration: none; 
  display: inline-block; 
  margin: 2px 6px; 
  cursor: pointer; 
  font-size:20px;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  margin: -10px -50px; 
  position:relative;
  top:50%; 
  left:50%;
} 

footer {
  color: #a0522d; 
  text-align: center;
  font-size: .8em;
  padding: 1em;
  margin-left: 90px;
}
